body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat',
    sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Montserrat',
    monospace;
  font-weight: 700;
}

.LoginStyle{
  font-family: 'Montserrat', monospace;
  font-weight: 700;
}

.NavBar{
  font-family: 'Montserrat', monospace;
  font-weight: 700;
}
